body.dark{
    background-color: #1E1E1E;
}

body.dark header h1{
    filter: invert(1);
}

body.dark header nav{
    filter: invert(1);
}

body.dark main a{
    filter: invert(1);
}

body.dark footer{
    background-color: #1E1E1E;
}

body.dark #darkmode{
    background-position: right center;
}
